{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block navtitle %}Dodaj cv{% endblock %}
{% block body %}
 {% form_theme form
 'cv-form-theme.html.twig'
 'jquery.collection.html.twig'  %}

    <div class="col-sm-12 col-md-12 center-block">
    <div class="card mb-12">
    <div class="card-block">
    <h3 class="card-title">Twoje CV</h3>
    <h6 class="card-subtitle mb-2 text-muted">Utwórz CV i wyślij je do pracodawcy</h6>
    {{ form_start(form,{'attr': {'novalidate':'true'}}) }}
    {{ form_errors(form) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label> Imię</label>
                {{  form_row(form.fname)}}
            </div>
            <div class="form-group col-md-6">
                <label>Nazwisko</label>
                {{  form_row(form.lname)}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Adres</label>
            {{  form_row(form.address)}}
        </div>
        <div class="form-group">
            <label for="inputAddress2">Zdjęcie</label>
            {{  form_row(form.photo)}}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Data urodzenia</label>
                {{  form_row(form.dateOfBirth)}}
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Płeć</label>
                {{  form_row(form.sex)}}
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Telefon</label>
                {{  form_row(form.phone)}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Edukacja</label>
            {{  form_row(form.schools)}}
        </div>
        <div class="form-group">
            <label for="inputAddress2">Doświadczenie zawodowe</label>
            {{  form_row(form.expiriences)}}
        </div>
        <div class="form-group">
            <label for="inputAddress2">Umiejętności</label>
            {{  form_row(form.skillCvs)}}
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
        {{ form_end(form) }}
    </div>
    </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('web/js/jquery.collection.js') }}"></script>
        <script>
            $('.expiriences').collection({
                allow_up: false,
                allow_down: false,
                prefix: 'expierience',

            });
            $('.schools').collection({
                allow_up: false,
                allow_down: false,
                prefix: 'school',
            });
            $('.skillCvs').collection({
                allow_up: false,
                allow_down: false,
                prefix: 'skill',
            });

        </script>
    {% endblock %}



{% endblock %}