{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block navtitle %}Panel główny{% endblock %}
{% block body %}
        <section class="row">
            <div class="col-sm-12">
                <section class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="jumbotron">
                            {% if(is_granted('ROLE_EMPLOYER'))%}
                            <h1 class="mb-4">Witaj w panelu pracodawcy</h1>
                            <p class="lead">Dodaj ofertę pracy i czekaj az pracownicy zaczną napływać do twojej firmy!</p>
                            <p class="lead"><a class="btn btn-primary btn-lg mt-2" href="{{ path('offert_add') }}" role="button">Dodaj</a></p>
                            {% elseif(is_granted('ROLE_USER')) %}
                                <h1 class="mb-4">Witaj w panelu pracownika</h1>
                                <p class="lead">Dodaj swoje cv i wysyłaj je pracodawcom!</p>
                                <p class="lead"><a class="btn btn-primary btn-lg mt-2" href="{{ path('cv_add') }}" role="button">Dodaj</a></p>
                            {% endif %}
                        </div>


                        <div class="card mb-4">
                            <div class="card-block">
                                <h3 class="card-title">Oferty</h3>
                                <div class=" card-title-btn-container">
                                    <a href="{{ path('offert_show_all') }}" class="btn btn-sm btn-subtle" ><em class="fa fa-list-ul"></em>Wszystkie</a>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">Ostatnio dodane</h6>
                                <div class="divider" style="margin-top: 1rem;"></div>
                                {% for offert in offerts %}
                                <div class="articles-container">
                                    <div class="article border-bottom">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-3 date">
                                                    <div class="large"><em class="fa fa-file"></em></div>
                                                    <div class="text-muted">{{  offert.employerId }}</div>
                                                </div>
                                                <div class="col-9">
                                                    <h4><a href="{{ path('offert_show', {'id': offert.id}) }}">{{ offert.title|upper }}</a>
                                                        <p class="float-right">{{  offert.addedAt|date("H:i   Y-m-d ")}}</p></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
{% endblock %}
