{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {#<div class="form-group row">#}

        {#{{ form_start(form,{'attr': {'novalidate':'true'}}) }}#}
        {#{{ form_errors(form) }}#}
        {#{{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}#}
        {#{{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}#}
        {#{{ form_row(form.employer_id, {'attr': {'class': 'form-control'}}) }}#}
        {#{{ form_end(form) }}#}
    {#</div>#}
<div class="row center">
<div class="col-6 ">
{{ form_start(form) }}
        {{ form_errors(form) }}
<div class="card mb-4">
    <div class="card-block">
        <h3 class="card-title">Contact Form</h3>
        <h6 class="card-subtitle mb-2 text-muted">Subtitle</h6>

            <fieldset>
                <!-- Name input-->
                <div class="form-group">

                    <div class="col-12 no-padding">
                        {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <!-- Email input-->
                <div class="form-group">

                    <div class="col-12 no-padding">
                        {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <!-- Message body -->
                <div class="form-group">

                    <div class="col-12 no-padding">
                        {{ form_row(form.employer_id, {'attr': {'class': 'form-control'}}) }}                    </div>
                </div>

                <!-- Form actions -->
                <div class="form-group">
                    <div class="col-12 widget-right no-padding">
                        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary btn-md float-right'}}) }}
                    </div>
                </div>
            </fieldset>

    </div>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}
