
{% block ExpirienceType_widget %}
    <div class="row">
        <div class="col-md-10">
            <a href="#" class="expierience-remove" title="Delete hobby"><i class="fa fa-2x fa-times-circle"></i></a>
            <a href="#" class="expierience-add" title="Add hobby"><i class="fa fa-2x fa-plus-circle"></i></a>


            {{ form_row(form.nameOfJob) }}
            {{ form_row(form.company) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(form.start) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_row(form.finish) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block SchoolType_widget %}
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="school-remove" title="Delete hobby"><i class="fa fa-2x fa-times-circle"></i></a>
            <a href="#" class="school-add" title="Add hobby"><i class="fa fa-2x fa-plus-circle"></i></a>
            {{ form_row(form.name) }}
            {{ form_row(form.title) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(form.start) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_row(form.finish) }}
                </div>
            </div>
    </div>
{% endblock %}
{% block SkillCvType_widget %}
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="skill-remove" title="Delete hobby"><i class="fa fa-2x fa-times-circle"></i></a>
            <a href="#" class="skill-add" title="Add hobby"><i class="fa fa-2x fa-plus-circle"></i></a>
            {{ form_row(form.name) }}

        </div>



    </div>
{% endblock %}
