{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block navtitle %}Dodawanie oferty{% endblock %}

{% block body %}
    <script src="https://cdn.ckeditor.com/4.11.1/basic/ckeditor.js"></script>
 {% form_theme form
     'offert-form-theme.html.twig'
     'jquery.collection.html.twig'  %}
    <div class="col-sm-12 col-md-12 center-block">
        <div class="card mb-12">
            <div class="card-block">
                <h3 class="card-title"></h3>
                <h6 class="card-subtitle mb-2 text-muted"></h6>

                {{ form_start(form,{'attr': {'novalidate':'true'}}) }}
                {{ form_errors(form) }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Nazwa oferty</label>
                        {{ form_row(form.title) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Stanowisko</label>
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Opis</label>
                    {{ form_row(form.content) }}
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label >Wynagrodzenie minimalne</label>
                        {{ form_row(form.salaryMin) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Wynagrodzenie maksymalne</label>
                        {{ form_row(form.salaryMax) }}
                    </div>
                </div>
                <div class="form-group">
                    <label >Umiejętności</label>
                    {{ form_row(form.skill) }}
                </div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('web/js/jquery.collection.js') }}"></script>
        <script>
            $('.skills').collection({
                allow_up: false,
                allow_down: false,
                prefix: 'skill',

            });
        </script>
        <script>
            CKEDITOR.replace( 'offert[content]' );
        </script>
    {% endblock %}
{% endblock %}
