{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="col-sm-12 col-md-6">
    <div class="card mb-4">
        <div class="card-block">
            <h3 class="card-title">Contact Form</h3>
            <h6 class="card-subtitle mb-2 text-muted">Subtitle</h6>

                {{ form_start(form,{'attr': {'novalidate':'true'}}) }}
                {{ form_errors(form) }}

                <fieldset>
                    <div class="form-group">
                        <label class="col-12 control-label no-padding" for="name">Nazwa oferty</label>
                        <div class="col-12 no-padding">
                            {{ form_row(form.title) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-12 control-label no-padding" for="email">Krótki opis</label>
                        <div class="col-12 no-padding">
                            {{ form_row(form.description) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-12 control-label no-padding" for="message">Opis stanowiska</label>
                        <div class="col-12 no-padding">
                            {{ form_row(form.content) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-12 control-label no-padding" for="message">Wynagrodzenie minimalne</label>
                        <div class="col-12 no-padding">
                            {{ form_row(form.salaryMin) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-12 control-label no-padding" for="message">Wynagrodzenie maksymalne</label>
                        <div class="col-12 no-padding">
                            {{ form_row(form.salaryMax) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-12 control-label no-padding" for="message">Umiejętności</label>
                        <div class="col-12 no-padding">
                            <ul class="tags" data-prototype="{{ form_widget(form.skill.vars.prototype)|e('html_attr') }}">
                                {# iterate over each existing tag and render its only field: name #}
                                {% for skil in form.skill %}
                                    <li>{{ form_row(skil.name) }}</li>
                                    <li>{{ form_row(skil.value) }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 widget-right no-padding">
                            <button type="submit" class="btn btn-primary btn-md float-right">Submit</button>
                        </div>
                    </div>

                </fieldset>
                {{ form_end(form) }}

        </div>
    </div>
<div class="row center">
<div class="col-6 ">




</div>
</div>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            var $collectionHolder;
            var $addTagButton = $('<button type="button" class="add_tag_link">Add a tag</button>');
            var $newLinkLi = $('<li></li>').append($addTagButton);
            jQuery(document).ready(function() {
                $collectionHolder = $('ul.tags');
                $collectionHolder.find('li').each(function() {
                    addTagFormDeleteLink($(this));
                });
                $collectionHolder.append($newLinkLi);
                $collectionHolder.data('index', $collectionHolder.find(':input').length);
                $addTagButton.on('click', function(e) {
                    addTagForm($collectionHolder, $newLinkLi);
                });
            });

            function addTagForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');
                var index = $collectionHolder.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi);
            }
            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<button type="button">Delete this tag</button>');
                $tagFormLi.append($removeFormButton);
                $removeFormButton.on('click', function(e) {
                    $tagFormLi.remove();
                });
            }
        </script>
    {% endblock %}
{% endblock %}
